{% extends 'base.html' %} {% block content %}
<div class="signin-signup main">
  <div class="main-form">
    {% if validlink %}

    <form method="POST" id="login-form">
      {% load widget_tweaks %} {% csrf_token %}
      <div class="form-group">
        <h2 class="text-center">Set a new password!</h2>
      </div>

      <div class="form-group text-center">
        <label for="{{form.new_password1.id_for_label}}">Password</label>

        {{form.new_password1|add_class:'form-control input'}}

        <div class="error-list" id="email_error">
          {% if form.new_password1.errors %}{% endif %}
        </div>
      </div>

      <div class="form-group text-center">
        <label for="{{form.new_password2.id_for_label}}"
          >Confirm Password</label
        >

        {{form.new_password2|add_class:'form-control input'}}

        <div class="error-list">
          {{form.new_password2.errors}}
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          name="submit-sign-in-form"
          id="submit-sign-in-form"
          class="form-control"
        >
          Change my password
        </button>
      </div>
    </form>
    {% else %}

    <p class="mt-5 pl-3 pr-2">
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset link
      <a href="{% url 'password_reset' %}">here</a>.
    </p>
  </div>
</div>
{% endif %}{% endblock %}
