{% extends 'base.html' %} {% block content %}
<div class="signin-signup main">
  <div class="main-form">
    <form method="POST" id="login-form">
      {% load widget_tweaks %}
      <div class="form-group">
        <h2 class="text-center pt-2">Forgot your password?</h2>
      </div>
      <div class="form-group">
        <p class="text-center">
          Enter your email address below, and we'll email instructions for
          setting a new one.
        </p>
      </div>
      {% if non_form.errors %} {{non_form.errors}} {% endif %} {% csrf_token %}
      <div class="form-group text-center">
        <label for="{{form.email.id_for_label}}">Email address</label>

        {{form.email|add_class:'form-control input'}}

        <div class="error-list" id="email_error">
          {% if form.email.errors%} {{form.email.errors}} {% endif %}
        </div>
      </div>
      <div class="form-group">
        <button
          type="submit"
          name="submit-sign-in-form"
          id="submit-sign-in-form"
          class="form-control"
        >
          Send me instructions!
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
